*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(120deg, #eee, #678);
  background-color: #678;
}

.text-input {
  padding: 1rem 2rem;
  font-size: 300%;
  background-color: #678;
  border: 0;
  color: #ddd;
  outline: 0;
  width: 100%;
  border-bottom: 6px solid #567;
}

.text-input::placeholder {
  color: #bcd;
}

.text-input:focus::placeholder {
  color: #89a;
}

main {
  margin: 2rem;
  border: 0.5rem dashed #abc;
  position: relative;
  stroke-dashoffset: 100;
}

main:hover {
  border: 0.5rem dashed #aabbcc33;
  transition: border 250ms ease-in;
  stroke-dashoffset: 50
}

main:hover .code-image {
  transform: scale(1.01);
  transition: transform 150ms ease-in;
}

.instruction-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-80%);
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  text-align: center;
  color: #456;
  font-weight: bold;
}

.code-image {
  transition: filter 250ms;
  width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
}

main:hover:after {
  content: "Click QR code to download as a PNG";
  position: absolute;
  left: 50%;
  bottom: -6rem;
  transform: translate(-50%, 0);
  border: 1px solid #567;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #678;
}
